<div class="grid-container">
  <h1>Hey, {{api.id}}</h1>
  <div class="grid-x grid-margin-x">
    <div class="cell small-12 medium-6">
      <div class="section-card">
        <h2>Login under another id</h2>

        <p>
          <mat-form-field class="w100">
            <input [(ngModel)]="id" autocomplete="off" matInput placeholder="Anything as id"
              min="1" step="1">
          </mat-form-field>
        </p>
        <p>
          <button [disabled]="!id" (click)="changeId()" mat-raised-button>Login</button>
        </p>


      </div>
    </div>
  </div>
</div>
